<h1> Indice de practicas </h1>
<ul>
    <li> <a href="area/area.html"> area </a> </li>
    <li> <a href="curp/curp.html"> curp </a> </li>
    <li> <a href="segundos/segundos.html"> Minutos </a> </li>
    <li> <a href="continuo/continuo.html"> Minutos </a> </li>
    <li> <a href="tactics ogre/tactics ogre.html"> Tactics (ejercicio ifs) </a> </li>
    <li> <a href="ninja fft/ninja fft.html"> Final Fantasy Tactics <a/> </li>
</ul>